@font-face {
  font-family: B_yekan;
  src: url(./BYekan+.ttf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "B_yekan", sans-serif, Tahoma, Geneva, Verdana;
  text-decoration: none;
}

body {
  direction: rtl;
  overflow-x: hidden;
}

.container {
  padding: 3em 8%;
}
.container .contact_message {
  display: flex;
  flex-direction: row;
  border: #f5f6f8 1px solid;
  border-radius: 24px;
  padding: 2rem;
  box-shadow: 0px 4px 63px 0px rgba(0, 0, 0, 0.031372549);
}
.container .contact_message .contact_info {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container .contact_message .contact_info .title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #070d31;
}
.container .contact_message .contact_info .subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #6f7076;
  line-height: 4.5em;
}
.container .contact_message .contact_info .phone {
  font-size: 1.125rem;
  font-weight: 600;
  color: #070d31;
  margin-top: 3em;
}
.container .contact_message .contact_info .email {
  font-size: 1.125rem;
  font-weight: 500;
  color: #070d31;
  margin-top: 2em;
}
.container .contact_message .contact_info .social_media {
  display: flex;
  flex-direction: row;
  margin-top: 8em;
}
.container .contact_message .contact_info .social_media > .icon {
  background-size: 2rem 2rem;
  padding: 1.3rem;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
}
.container .contact_message .contact_info .social_media .github {
  background-image: url("../src/Light_Mode/github_Icon.svg");
}
.container .contact_message .contact_info .social_media .twitter {
  background-image: url("../src/Light_Mode/twitter.svg");
}
.container .contact_message .contact_info .social_media .linkedin {
  background-image: url("../src/Light_Mode/linkedin.svg");
}
.container .contact_message .vertical_line {
  background-color: #e0e0e0;
  width: 2px;
  height: 600px;
  margin: 2rem;
  border-radius: 2px;
}
.container .contact_message .send_message {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}
.container .contact_message .send_message div {
  gap: 4rem;
}
.container .contact_message .send_message form {
  width: 100%;
}
.container .contact_message .send_message .full-name {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.container .contact_message .send_message .full-name > div {
  width: 50%;
}
.container .contact_message .send_message input {
  border: #e6e6e6 1px solid;
  border-radius: 6px;
  height: 50px;
  margin: 0.6rem 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
  outline: none;
  padding: 0 1rem;
}
.container .contact_message .send_message textarea {
  margin-top: 0.5rem;
  height: 150px;
  width: 100%;
  overflow: auto;
  border-radius: 8px;
  border: #e6e6e6 1px solid;
  padding: 1rem;
  outline: none;
  overflow-wrap: break-word;
}
.container .contact_message .send_message input.tel {
  text-align: right;
}
.container .contact_message .send_message button {
  padding: 0.5rem 2rem;
  width: 100%;
  background-color: #2C7EF8;
  color: #ffffff;
  border-radius: 6px;
  font-size: 1.125rem;
  font-weight: 700;
  justify-content: end;
  border: #2C7EF8 1px solid;
  margin-top: 2rem;
}/*# sourceMappingURL=contact_us.css.map */