footer {
    display: flex; //
    flex-direction: column; //
    justify-content: center; //
    align-content: center;
    // margin-top: 2rem;
    // width: 80%;
    padding: 20px 8%;
    gap: 3rem;
    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      // width: fit-content; //
      gap: 2rem;
      .line {
        columns: #afafaf;
      }
      .text {
        color: #141414;
        font-size: 1.25rem;
        font-weight: 400;
        // margin: 2rem;
        width: max-content;
      }
    }
    .contact_us {
      // width: 80%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 2rem 0;
      // padding: 5rem;
      .right_footer {
        // justify-content: right;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .fax {
        }
        .telephone {
        }
        .address {
        }
      }
      .left_footer {
        // justify-content: left;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .line1 {
        }
        .line2 {
        }
        .send_email {
          .email {
          }
          .send {
          }
        }
      }
      & > div {
      }
    }
  
    .copyright {
      display: flex;
      justify-content: center;
      font-size: 0.875rem;
      font-weight: 400;
      color: #666666;
    }
  }